services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pharmademand-api
    ports:
      - "8000:8000"

  ui:
    build:
      context: .
      dockerfile: ui/Dockerfile
    container_name: pharmademand-ui
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
